asgiref
certifi
cffi
charset-normalizer
crispy-bootstrap5
crispy-tailwind
cryptography
defusedxml
dj-database-url
Django
django-allauth
django-appconf
django-bootstrap5
django-compressor
django-crispy-forms
django-email
django-environ
django-filter
djangorestframework
EasyProcess
entrypoint2
idna
MouseInfo
mss
numpy
oauthlib
opencv-contrib-python
Pillow
psycopg2
psycopg2-binary
PyAutoGUI
pycparser
PyGetWindow
PyJWT
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python3-openid
pytweening
rcssmin
requests
requests-oauthlib
rjsmin
sqlparse
typing_extensions
tzdata
urllib3